.sec1{
    width: 100%;
    height: 100vh;
    // margin-top: 500px;
    overflow: hidden;

    .container{
        width: 60%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        gap: 25px;
        justify-content: center;
    
        article{
            flex-basis: 45%;

            .text{
                text-align: justify;
                opacity:.6;
            }
        }
    }
  
}