.scroll__btn{
    position: absolute;
    left: 49.97%;
    top:92%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: 15px;
    border: 1px solid $main-c;
    border-radius: 28px;

    .dot{
        width: 5px;
        height: 5px;
        background: $main-c;
        border-radius: 50%;
        position:absolute;
        left:50%;
        top:15%;
        transform: translate(-50%,-50%);
        animation: scrollDot 1.5s infinite;
    }

    &::after{
        content:'';
        background: $main-c;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        bottom:-50%;
        left:35%;
    }
}

@keyframes scrollDot {
    from{
        top:15%;
        opacity:1;
    }
    to{
        top:70%;
        opacity:0;
    }
}