.page__header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "aside__left navbar navbar navbar navbar aside__right"
      "aside__left col-1 col-2 col-3 col-4 aside__right";
  }
  
  .aside__left { grid-area: aside__left; }
  
  .aside__right { grid-area: aside__right; }
  
  .navbar { grid-area: navbar; }
  
  .col-1 { grid-area: col-1; 
           border-left: 1px solid $grid-border-c;
           border-right: 1px solid $grid-border-c;
}
  
  .col-2 { grid-area: col-2; 
    border-right: 1px solid $grid-border-c;
}
  
  .col-3 { grid-area: col-3;
    border-right: 1px solid $grid-border-c;
}
  
  .col-4 { grid-area: col-4; 
    border-right: 1px solid $grid-border-c;
}
  